@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");

html {
  font-family: "Verdana", sans-serif;
  font-size: 100%;
}

.rtable {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}
.rtable, .rtable--flip tbody {
  -webkit-overflow-scrolling: touch;
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}
.rtable td:first-child, .rtable--flip tbody tr:first-child {
  background-repeat: no-repeat;
  background-size: 20px 100%;
}
.rtable td:last-child, .rtable--flip tbody tr:last-child {
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}
.rtable th {
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  background: #f2f0e6;
}
.rtable th, .rtable td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}
.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}
.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}
.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}
.rtable--flip td, .rtable--flip th {
  display: block;
}
.rtable--flip td {
  background-image: none !important;
  border-left: 0;
}
.rtable--flip th:not(:last-child), .rtable--flip td:not(:last-child) {
  border-bottom: 0;
}
/*! // CodePen house keeping */
body {
  margin: 0;
  padding: 25px;
  font-size: 14px;
  line-height: 20px;
}
h1, h2, h3 {
  margin: 0 0 10px 0;
  color: #1d97bf;
}
h1 {
  font-size: 25px;
  line-height: 30px;
}
h2 {
  font-size: 20px;
  line-height: 25px;
}
h3 {
  font-size: 16px;
  line-height: 20px;
}
table {
  margin-bottom: 30px;
}
a {
  color: #ff6680;
}
code {
  background: #fffbcc;
  font-size: 12px;
}

body {
  margin: 0;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
}
.container {
  position: relative;
  height: 100%;
  min-width: 300px;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px white;
}
.containerx {
  position:relative;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px white;
}
table, th, td {
  border:1px solid black;
}
.brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}
.inputs {
  text-align: left;
  margin-top: 30px;
}
label, input, button, textarea {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
label {
  margin-bottom: 4px;
}
label:nth-of-type(2) {
  margin-top: 12px;
}
input::placeholder, textarea::placeholder {
  color: gray;
  font-family: "Verdana", sans-serif;
}
input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  font-family: "Verdana", sans-serif;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

textarea {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 150px;
  resize: none;
  font-size: 14px;
  color: gray;
  border-radius: 31px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
button:hover {
  box-shadow: none;
}
a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}
h1 {
  position: absolute;
  top: 0;
  left: 0;
}
table, th, td {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 15px;
}
.item1 {
  grid-area: uno;
}
.item2 {
  grid-area: dos;
}
.item3 {
  grid-area: tres;
}
.item4 {
  grid-area: cuatro;
}
.item5 {
  grid-area: cinco;
}
.grid-container {
  display: grid;
  grid-template-areas: 'uno dos' 'tres cuatro' 'cinco cinco';
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
}
